#mainMonitor {
  position: absolute;
  top: 0px;
  right: 11.5px;
  bottom: 0px;
  left: 1.5px;
  border: 13px solid rgb(0, 0, 0);
  border-radius: 14px;
}

#mainMonitorBezel {
  position: absolute;
  top: 0;
  bottom: 20%;
  left: 0;
  right: 0;
  border-top: 5px solid transparent;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-image-source: url("./../images/screen/crt_bezel.jpg");
  border-image-slice: 200 fill;
  border-image-outset: 0px;
  overflow: hidden;
  z-index: 10;
}

#monitorCRT:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: " ";
  display: block;
  background: linear-gradient(
    to bottom,
    rgba(3, 27, 13, 0.233) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 8px;
  z-index: 3;
  pointer-events: none;
}

.monitorScanline {
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 200px;
  z-index: 6;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0)0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.5;
  animation: monitorScanline 8s linear infinite;
}

@keyframes monitorScanline {
  0% { bottom: 100%; }
  80% { bottom: 100%; }
  100% { bottom: 0% }
}

.terminal {

}

