.terminalTextLine {
  padding-left: 2px;
  position: relative;
  border: 3px solid red;
  width: 100%;
  display: block;
}

.textCharacter {
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
}