@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
.terminalTextArea {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}
.retroText {
  font-family: "VT323", monospace;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 25px;
  color: rgb(78, 207, 78);
  border: 10px solid blue;
}
/*
.retroText::after {
  content: "";
  width: 10px;
  height: 100%;
}
.retroText::before {
  content: "";
  width: 10px;
  height: 100%;
}
*/
.retroText > h3 {
  background-color: fuchsia;
  height: 100%;
}
.cursor {
  height: 100%;
  width: 20px;
  float: left;
}