.terminalTextLine {
  display: flex;
  flex-direction: column;
  padding-left: 2px;
}

.textLine {
  display: flex;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
}